body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 20px 30px 10px;
    line-height: 1.4;
    background-color: white ;
}

#videoBG {
  position:fixed;
  z-index: -1;
  width:100%;     
    height: auto;
} 






.flex-container{
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}

.hero-image{
  background-image: url("code.mp4");
}

.flex-item{
    background: cyan;
    border: 2pt solid black;
    width: 20px;
    transition: 0.1s all ease;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.author{
  text-align: center;
  font-size:18px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;

}




.bubbleSort {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: #fff 2px 2px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display:inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 1px 1px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .bubbleSort:focus {
    text-decoration: solid;
  }
  
  .bubbleSort:hover {
    text-decoration: none;
  }
  
  .bubbleSort:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .bubbleSort:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .bubbleSort{
      padding: 3px 15px;
    }
  }

.newArray {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.3em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.newArray:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .newArray{
    padding: 0.25em 0.55em;
  }
}


.selectionSort {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: #fff 2px 2px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display:inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 5px 10px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .selectionSort:focus {
    text-decoration: solid;
  }
  
  .selectionSort:hover {
    text-decoration: none;
  }
  
  .selectionSort:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .selectionSort:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .selectionSort{
      padding: 3px 15px;
    }
  }


  .mergeSort{
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: #fff 2px 2px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display:inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 5px 10px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .bmergeSort:focus {
    text-decoration: solid;
  }
  
  .mergeSort:hover {
    text-decoration: none;
  }
  
  .mergeSort:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .mergeSort:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .mergeSort {
      padding: 3px 15px;
    }
  }


  .insertionSort{
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: #fff 2px 2px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display:inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 5px 10px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .insertionSort:focus {
    text-decoration: solid;
  }
  
  .insertionSort:hover {
    text-decoration: none;
  }
  
  .insertionSort:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .insertionSort:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .insertionSort {
      padding: 3px 15px;
    }
  }


  .quickSort {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: #fff 2px 2px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display:inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 5px 10px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .quickSort:focus {
    text-decoration: solid;
  }
  
  .quickSort:hover {
    text-decoration: none;
  }
  
  .quickSortactive {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .quickSort:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .quickSort {
      padding: 3px 15px;
    }
  }




  .nine h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
  }
  .nine h1 span {
    margin-top: 5px;
      font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .nine h1 span:after,.nine h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }







  input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 100px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw rgb(0, 0, 0);
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw rgb(0, 8, 15);
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: black;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}